<div class="navbar-form navbar-right">
  <div class="form-group input-group">
    <div class="input-group-addon">{{volume}}</div>
    {{input type="range" min="0" max="100" class="range-slider" value=volume}}
  </div>
</div>
