{{#if isTrack}}
  <td>
    <i class="fa fa-music"></i>
  </td>
  <td>
    {{item.name}}
  </td>
  <td>
    <button class="btn btn-default btn-xs" {{action "add" item.uri}}>Add to queue</button>
  </td>

{{else if isDirectory}}
  <td>
    <i class="fa fa-folder"></i>
  </td>
  <td>
    {{#link-to "browse" encodedId}}{{item.name}}{{/link-to}}
  </td>
  <td>
  </td>
{{/if}}
