.center {
  text-align: center;
}

ul.nav li .active {
  font-weight: bold;
}

.range-slider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.default-cursor {
  cursor: default;
}

.queue-table tbody {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.queue-table:focus {
  outline: none;
}

.success-info {
  background-color: #DCEEE8;
}
