.center {
  text-align: center;
}

ul.nav li .active {
  font-weight: bold;
}

.range-slider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.default-cursor {
  cursor: default;
}

.queue-table tbody {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.queue-table:focus {
  outline: none;
}

.success-info {
  background-color: #DCEEE8;
}

.logo path {
  fill: none;
  stroke: #669933;
  stroke-width: 5;
}

.footer-item {
  margin: 10px 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}
