.center {
  text-align: center;
}

#add-url table {
  width: 100%;
}

#add-url table td:last-child {
  text-align: right;
}

ul.nav li .active {
  font-weight: bold;
}

header {
  margin-bottom: 1em;
}

header > div > button {
  margin-left: 0.5em;
}

.range-slider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.default-cursor {
  cursor: default;
}

.gap {
  margin-top: 20px;
}

.queue-table tbody {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.queue-table:focus {
  outline: none;
}

.success-info {
  background-color: #DCEEE8;
}

.logo path {
  fill: none;
  stroke: #669933;
  stroke-width: 5;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
}

.footer-item {
  margin: 10px 0;
}
