{
  "extends": "airbnb/base",

  "rules": {
    /**
     * Variables
     */
    "no-undef": 2,                          // http://eslint.org/docs/rules/no-undef
    "no-use-before-define": [2, "nofunc"],  // http://eslint.org/docs/rules/no-use-before-define

    /**
     * Style
     */
    "quotes": [
      2, "double", "avoid-escape"           // http://eslint.org/docs/rules/quotes
    ],
    "space-before-function-paren": [2, {    // http://eslint.org/docs/rules/space-before-function-paren
      "anonymous": "always",
      "named": "never"
    }],
    "func-names": 0,

    "object-shorthand": [2, "never"],
    "object-curly-spacing": [2, "never"],
  },

  "globals": {
    "$": true,
    "Promise": true,
  },
}
