<form {{on "submit" this.save}}>
  <div class="mb-3">
    <label for="host" class="form-label">Mopidy Host</label>
    <Input @value={{this.host}} class="form-control" @id="host" placeholder="192.168.0.103 or localhost" required />
  </div>
  <div class="mb-3">
    <label for="port" class="form-label">Websockets Port</label>
    <Input @value={{this.port}} class="form-control" @id="port" placeholder="6680" required />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <div class="form-text">Values will be stored in browser local storage for your convenience</div>
</form>
