<table class="table table-sm table-hover table-bordered mt-2">
  <thead class="table-light">
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Artist</td>
      <td>Album</td>
    </tr>
  </thead>
  <tbody>
    {{#each @entries as |entry|}}
      <EntryDetail @entry={{entry}} @currentTrackUri={{this.currentTrackUri}} @selectedTrackIds={{this.selectedTrackIds}} @onSelect={{this.select}}/>
    {{/each}}
  </tbody>
</table>
