<form class="d-flex" {{on "submit" this.search}}>
  <Input @type="search" @value={{this.query}} class="form-control me-2" placeholder="Query" aria-label="Search" />
  <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
