{{page-title "Mopster"}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <LinkTo @route="queue" class="nav-link">Queue</LinkTo>
        <LinkTo @route="search" class="nav-link">Search</LinkTo>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  {{outlet}}
</div>
