<div class="row">
  <div class="col-md-12">
    {{browse-add-all-tracks collection=model action="addTracks"}}

    <table class="table-condensed">
      <tbody>
        {{#each model as |entry|}}
          {{browse-item item=entry action="add"}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
