<div class="row">
  <div class="col-md-12">
    {{view "browse/add-all-tracks" collection=model}}

    <table class="table-condensed">
      <tbody class="default-cursor">
        {{#each entry in model}}
          {{view "browse/item" item=entry}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
