<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default" {{action "addAll"}}>Add all to queue</button>

    <table class="table-condensed">
      <tbody>
        {{#each model as |track|}}
          <tr>
            <td>
              <i class="fa fa-music"></i>
            </td>
            <td>
             {{track.name}}
            </td>
            <td>
              <button class="btn btn-default btn-xs" {{action "add" track.uri}}>Add to queue</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
