<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default btn-xs" {{action "refresh"}}>Refresh Playlists</button>
    <table class="table-condensed">
      <tbody>
        {{#each model as |playlist|}}
          <tr>
            <td>
              <i class="fa fa-list-ol"></i>
            </td>
            <td>
             {{#link-to "playlist" playlist.uri}} {{playlist.name}}{{/link-to}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
