<h3>Queue</h3>
<table class="table table-bordered table-condensed">
  <thead>
    <tr class="active">
      <td class="center">#</td>
      <td>Name</td>
      <td>Artist</td>
      <td>Album</td>
    </tr>
  </thead>
  <tbody>
    {{#each track in model}}
      {{view "queue-item" item=track}}
    {{/each}}
  </tbody>
</table>
