{{#if view.isTrack}}
  <td>
    <span class="glyphicon glyphicon-music"></span>
  </td>
  <td>
    {{view.item.name}}
  </td>
  <td>
    <button class="btn btn-default btn-xs" {{action "add" view.item.uri}}>Add to queue</button>
  </td>

{{else if view.isDirectory}}
  <td>
    <span class="glyphicon glyphicon-folder-open"></span>
  </td>
  <td>
    {{#link-to "browse" view.encodedId}}{{view.item.name}}{{/link-to}}
  </td>
  <td>
  </td>
{{/if}}
